@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #cdb4db;
  --secondary: #ffafcc;
  --muted: #a2d2ff;
  --bg: #fffdfd;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--bg);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}
